name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/snake.svg

      - name: Prepare output folder
        run: |
          mkdir -p output
          cp dist/snake.svg output/snake.svg

      - name: Commit and push snake.svg
        uses: EndBug/add-and-commit@v9
        with:
          add: "output/snake.svg"
          message: "Update snake"
          push: true
          new_branch: "output"
